{% extends "index.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyResume</title>
    <link href="{% static 'assets/img/logo.svg' %}" rel="icon">
    <style>
        .python{
            height: 50%;
        }
    </style>
</head>
<body>
    {% block content %}
    <center>
<img class="python" src="{% static 'assets/img/Django.jpg' %}" alt="" height="100%" width="50%"></center>
    {% endblock %}
</body>
</html>